<div class="card " style="width: 100%;">
        <div class="card-body">
        <h5 class="card-title">[ngStyle]</h5>
        <app-ng-style></app-ng-style>      
        </div>
      </div>
      
      <hr>
      <div class="card " style="width: 100%;">
        <div class="card-body">
        <h5 class="card-title">[css]</h5>
        <app-css></app-css>
      
      <p> este es un parrafo declarado en app.component</p>  
        </div>
      </div>
      
      <hr>
      
      <div class="card " style="width: 100%;">
        <div class="card-body">
        <h5 class="card-title">[ngclass]</h5>
        <app-clasess></app-clasess>     
        </div>
      </div>
      <hr>
      <div class="card " style="width: 100%;">
            <div class="card-body">
            <h5 class="card-title">- Directivas - </h5>
            <p appResaltado>Hola Mundo, pasa el mouse por aqui...</p>    
            <p [appResaltado]="'red'">Hola Mundo, pasa el mouse por aqui, ahora es rojo...</p>    
            </div>
      </div>
      <hr>
      <div class="card " style="width: 100%;">
            <div class="card-body">
            <h5 class="card-title">[ngSwitch]</h5>
            <app-ng-switch></app-ng-switch>
            </div>
      </div>